<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.fh.valuvi.resifo">

    <application
        android:name="at.fh.valuvi.resifo.components.Application"
        android:allowBackup="true"
        android:icon="@mipmap/icon_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CancellationActivity"></activity>
        <activity android:name=".ChooseRecordActivity"></activity>
        <activity android:name=".ConfirmSignUpActivity"></activity>
        <activity android:name=".FindRecordActivity"></activity>
        <activity android:name=".ImpressumActivity"></activity>
        <activity android:name=".InformationActivity"></activity>
        <activity android:name=".NewRecordOverviewActivity"></activity>
        <activity android:name=".OverviewCompleteRecordActivity"></activity>
        <activity android:name=".OverviewFindRecordActivity"></activity>
        <activity android:name=".PersonalInformationActivity"></activity>
        <activity android:name=".RegistrationActivity"></activity>
        <activity android:name=".RestorePasswordActivity"></activity>
        <activity android:name=".SetPasswordActivity"></activity>
        <activity android:name=".SignInActivity"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".UserActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>